{
    "openapi": "3.0.0",
    "info": {
        "title": "Taskip API",
        "description": "Taskip API documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.taskip.ai",
            "description": "Taskip API Server"
        }
    ],
    "paths": {
        "/public-v1/company": {
            "get": {
                "summary": "Get all companies",
                "operationId": "e78fc27e3c25464f00243ca09b5ead2e",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of companies"
                    }
                }
            },
            "post": {
                "summary": "Create a new company",
                "operationId": "f1213fd903fa5b64d19fb84e46e1ddb1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompanyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Company created successfully"
                    },
                    "400": {
                        "description": "Invalid input"
                    }
                }
            }
        },
        "/public-v1/company/{id}": {
            "get": {
                "summary": "Get a company by ID",
                "operationId": "150cb123826f440e277d3c19222d17e2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the company",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company details"
                    },
                    "404": {
                        "description": "Company not found"
                    }
                }
            },
            "put": {
                "summary": "Update a company",
                "operationId": "b173e965cc424a13369f6db329500715",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the company to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompanyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company updated successfully"
                    },
                    "404": {
                        "description": "Company not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a company",
                "operationId": "479420027a8cbaded5132d5810e4599f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the company to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Company deleted successfully"
                    },
                    "404": {
                        "description": "Company not found"
                    }
                }
            }
        },
        "/public-v1/company/delete-bulk": {
            "post": {
                "summary": "Bulk delete companies",
                "operationId": "c26f507c91ebfaa905aa7cb3ac1de110",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "Array of company IDs to delete",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Companies deleted successfully"
                    }
                }
            }
        },
        "/public-v1/contact": {
            "get": {
                "summary": "Get all contacts",
                "operationId": "cfcba1c22cdb3cc7971686209530fc0f",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Query to filter contacts",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All contacts fetched successfully"
                    }
                }
            },
            "post": {
                "summary": "Create a new contact",
                "operationId": "e518464e6910af5eb1c1c8dd7dfa0a6c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Contact created successfully"
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/public-v1/contact/{id}": {
            "get": {
                "summary": "Get a contact by ID",
                "operationId": "9260653b5976d3ca42929d53db858e8a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact details"
                    },
                    "404": {
                        "description": "Contact not found"
                    }
                }
            },
            "put": {
                "summary": "Update a contact",
                "operationId": "b47385ac7507196ab28e0b1d8213f49d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contact updated successfully"
                    },
                    "404": {
                        "description": "Contact not found"
                    }
                }
            },
            "delete": {
                "summary": "Delete a contact",
                "operationId": "33506664857f1923972e5692ef45f02f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the contact to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact deleted successfully"
                    },
                    "404": {
                        "description": "Contact not found"
                    }
                }
            }
        },
        "/public-v1/contact/delete-bulk": {
            "post": {
                "summary": "Bulk delete contacts",
                "operationId": "f490011f19fe36fbcf5d8be5c4342bff",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "Array of contact IDs to delete",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contacts deleted successfully"
                    }
                }
            }
        },
        "/public-v1/contact/invite-client/{id}": {
            "post": {
                "summary": "Invite a client",
                "operationId": "e9d4fbb46bbeb35dbc494486eab95717",
                "parameters": [
                    {
                        "name": "contact",
                        "in": "path",
                        "description": "Contact ID to invite",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client invited successfully"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CompanyRequest": {
                "required": [
                    "name",
                    "email"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 191
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "phone_number": {
                        "type": "string",
                        "nullable": true
                    },
                    "website": {
                        "type": "string",
                        "format": "url",
                        "maxLength": 191,
                        "nullable": true
                    },
                    "c_size": {
                        "type": "integer",
                        "nullable": true
                    },
                    "c_type": {
                        "type": "integer",
                        "nullable": true
                    },
                    "country_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "city_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "state_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "ContactRequest": {
                "required": [
                    "first_name",
                    "email"
                ],
                "properties": {
                    "first_name": {
                        "type": "string",
                        "maxLength": 191
                    },
                    "company_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "last_name": {
                        "type": "string",
                        "maxLength": 191,
                        "nullable": true
                    },
                    "phone_code": {
                        "type": "string",
                        "maxLength": 5,
                        "nullable": true
                    },
                    "phone_number": {
                        "type": "string",
                        "maxLength": 18,
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "country_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "state_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "city_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "image": {
                        "type": "integer",
                        "nullable": true
                    },
                    "zip_code": {
                        "type": "string",
                        "maxLength": 8,
                        "nullable": true
                    },
                    "timezone": {
                        "type": "string",
                        "maxLength": 191,
                        "nullable": true
                    },
                    "access_portal": {
                        "type": "integer",
                        "enum": [
                            0,
                            1
                        ],
                        "nullable": true
                    },
                    "password": {
                        "type": "string",
                        "maxLength": 191,
                        "minLength": 6,
                        "nullable": true
                    },
                    "position": {
                        "type": "string",
                        "nullable": true
                    },
                    "custom_fields": {
                        "type": "array",
                        "items": {},
                        "nullable": true
                    },
                    "invite_client": {
                        "type": "boolean",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        }
    }
}
